.char-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.char {
  font-size: 5em;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
}

.content-wrap {
  flex: 1;
}
