@import "../variables.scss";

.char {
  font-size: calc(30px + 3vh);
  margin: 0;
}

.card {
  // border: $card-border-thickness solid $card-border-neutral-color;
  border-radius: calc(5px + 1vh);
  margin-top: 3vh;
  margin-bottom: 3vh;
  // padding: calc(0px + 0.6vh) calc(6px + 1.2vh);
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.card-button {
  border: $card-border-thickness solid $card-border-neutral-color;
  box-shadow: 0 $card-shadow-depth $card-border-neutral-color;
}

.card-button:hover {
  cursor: pointer;
  background-color: $card-background-hovered-color;
  opacity: 1 !important;
}

.card-button:active {
  transform: translateY($card-shadow-depth);
  box-shadow: none !important;
}

.correct.completed {
  color: $correct-color;
}

.incorrect {
  color: $incorrect-color !important;
  border-bottom: solid $incorrect-color !important;
  border-radius: 0;
  // border: $card-border-thickness solid $incorrect-color !important;
  // box-shadow: 0 0 10px $incorrect-color !important; // uncomment for glow-effect
}

.hinted.completed {
  color: $hinted-color;
}

.current-hinted {
  color: $hinted-color;
  border-bottom: solid $hinted-color;
  border-radius: 0;
}

.highlighted {
  // border: $card-border-thickness solid $primary-color;
  color: $primary-color;
  border-bottom: solid $primary-color;
  border-radius: 0;
  // box-shadow: 0 0 10px $primary-color; // uncomment for glow-effect
}

.clicked {
  border: $card-border-thickness solid $primary-color;
  background-color: $card-background-highlight-color !important;
  color: $primary-color !important;
  box-shadow: 0 $card-shadow-depth $primary-color !important;
}

.o-30 {
  opacity: 0.3;
}

.o-60 {
  opacity: 0.6;
}

.o-100 {
  opacity: 1;
}
