@import "../variables.scss";

.char {
  font-size: calc(30px + 3vh);
  margin: 0;
}

.card {
  border: $card-border-thickness solid $card-border-neutral-color;
  border-radius: calc(10px + 1vh);
  padding: 2vh;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.card-button {
  box-shadow: 0 $card-shadow-depth $card-border-neutral-color;
}

.card-button:hover {
  cursor: pointer;
  background-color: $card-background-hovered-color;
  opacity: 1 !important;
}

.card-button:active {
  transform: translateY($card-shadow-depth);
  box-shadow: none !important;
}

.correct {
  color: $correct-color;
}

.incorrect {
  color: $incorrect-color !important;
  border: $card-border-thickness solid $incorrect-color !important;
  box-shadow: 0 0 10px $incorrect-color !important;
}

.hinted {
  color: $hinted-color;
}

.highlighted {
  border: $card-border-thickness solid $primary-color;
  color: $primary-color;
  // box-shadow: 0 0 10px $primary-color; // uncomment for glow-effect
}

.clicked {
  border: $card-border-thickness solid $primary-color;
  background-color: $card-background-highlight-color !important;
  color: $primary-color !important;
  box-shadow: 0 $card-shadow-depth $primary-color !important;
}
