@import "../variables.scss";

.main-footer {
  background: $primary-color;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: calc(10px + 0.3vh);
}

a {
  color: white;
}

a:hover {
  color: $link-hovered-color;
}

.sources {
  text-align: left;
  padding-left: 200px;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
}

.list-unstyled {
  list-style-type: none;
}

.container {
  text-align: left;
  padding-left: 1%;
}

.copyright2 {
  margin-top: auto;
  padding-bottom: 1em;
  text-align: right;
  padding-right: 1%;
}

.copyright {
  padding-bottom: 0.5em;
}

hr {
  border: 1px solid darken($primary-color, 3%);
}
