.hint-card-content {
  padding-bottom: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.hint-card-image {
  height: calc(75px + 10vh);
}

.hint-text {
  font-size: calc(12px + 0.4vh);
  padding-bottom: calc(10px + 0.5vh);
}

.hint-card-romaji {
  color: #5e5e5e;
  font-size: calc(10px + 1.5vh);
  margin: 18px;
}

.hint-card {
  margin-top: 4vh;
}
