@import "../variables.scss";

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(10px + 1vh);
}

.message-box {
  border: 1.5px solid $card-border-neutral-color;
  width: 96vw;
  height: calc(10px + 7vh);
  margin: 5px auto;
  border-radius: (10px);
  padding: calc(5px + 0.5vh);
  position: relative;
  color: "#5D5D5D";
}
