@import "../variables.scss";

hr {
  margin-left: 0;
  margin-right: 0;
  border: 2px solid red;
}

.flex-container {
  // border: 3px solid yellow;
  background: $primary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.flex-container > div {
  // border: 2px solid blue; // debug
  min-height: 0;
}

.signin-box {
  flex: 5;
  width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
}

.header {
  // border: 1px solid green;
  width: 545px;
  color: white;
}

.signin {
  // border: 1px solid green;
  width: 545px;
}

.title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
}

.info-panel {
  flex: 3;
  background: white;
  color: #717475;
  display: flex;
  justify-content: center;
}

.info-panel-inner {
  // border: 1px green solid;
  min-width: 1250px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
}
