@import "../variables.scss";

.small-card {
  border-radius: 0.75rem;
  font-size: 3rem;
  padding: 1rem;
  color: white;
  // height: 7rem;
  // text-align: center;
  // margin: auto;
  // background: linear-gradient(0deg, green 50%, #f2b50c 50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
