@import "../variables.scss";

.small-card {
  border-radius: 0.75rem;
  border: 2px solid $card-border-neutral-color;
  font-size: 3rem;
  padding: 1rem;
  // height: 7rem;
  // text-align: center;
  // margin: auto;
  // background: linear-gradient(0deg, green 50%, #f2b50c 50%);
  color: white;
}
