@import "../variables.scss";

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.correct-color {
  background: $correct-color;
}
.hinted-color {
  background: $hinted-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.flipcard-front {
  font-size: 40px;
  padding-top: 18px;
}

.flipcard-back {
  font-size: 1rem;
  transform: rotateY(180deg);
  background: $primary-color;
}

.flipcard-front,
.flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flipcard {
  width: 70px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  perspective: 300px;
}

.flipcard-content {
  position: relative;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.flipcard:hover .flipcard-content {
  transform: rotateY(180deg);
}
