@import "../variables.scss";

.welcome-text {
  font-size: calc(10px + 1vh);
  text-align: center;
}

.container {
  border: 1px solid $card-border-neutral-color;
  border-radius: (10px);
  padding: calc(5px + 0.5vh);
  margin: calc(1px + 0.2vh) 0 calc(15px + 1vh);
}
