@import "../variables.scss";

.welcome-text {
  padding: 28px;
}

.container {
  border: 1px solid $card-border-neutral-color;
  border-radius: (10px);
  padding: calc(5px + 0.5vh);
  margin: calc(1px + 0.2vh) 0 calc(15px + 1vh);
  height: 80px;
}
