@import "../variables.scss";

.wordcard-text {
  font-size: calc(10px + 1vh);
  padding-bottom: calc(2px + 0.2vh);
}

.wordcard-subtext {
  font-size: calc(5px + 1vh);
  padding-top: calc(5px + 0.5vh);
}

.vocab-word {
  color: $primary-color;
}

.word-card {
  margin-top: 3vh;
}

.wordcard-kana {
  font-size: calc(20px + 1vh);
  color: #5e5e5e;
  margin-top: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.bolded-style {
  color: $primary-color;
  font-size: calc(10px + 2vh);
  margin: 0;
  padding-bottom: 10px;
}

.subtext-meaning {
  padding-top: 10px;
}
