.card {
  border: 2px solid #dad1d1;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.hinted {
  color: #f2b50c;
}

.highlighted {
  border: 2px solid #1cb0f6;
}

.highlighted2 {
  outline: none;
  border: 2px solid #375ecc;
  box-shadow: 0 0 10px #3f51b5;
}

.hovered {
  cursor: pointer;
  background-color: #f5f5f5;
}

.clicked {
  border: 2px solid #1cb0f6;
  background-color: #ddf4ff;
}
