// .char-board {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.page-container {
  display: flex;
  flex-direction: column;
  height: calc(130vh); /* works better than 100vh */
}

.content-wrap {
  flex: 1;
}
