.page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh); /* works better than 100vh */
  // width: calc(100vw - 15px);
}

.content-wrap {
  flex: 1;
  padding-bottom: 0px;
}

.progress-flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.progress-flex-item1 {
  flex: 1;
}

.progress-flex-item2 {
  flex: 5;
  max-width: 80%;
  align-self: center;
}

.word-card {
  padding: 12px;
}
