// general colors
$primary-color: #1cb0f6;
$grayish-color: #5e5e5e;

// card colors
$correct-color: green;
$incorrect-color: red;
$hinted-color: #f2b50c;

$card-border-neutral-color: #dad1d1;
$card-border-highlight-color: #1cb0f6;
$card-background-hovered-color: #f5f5f5;
$card-background-highlight-color: #ddf4ff;

// links
$link-hovered-color: #5d5d5d;

$card-shadow-depth: 4px;
